.titulo{
    text-align: center;
    margin-top: 16px;
}

/* label{
    position:relative;
    margin-top: -20px;
   
} */
input{
    margin: 6px;
}

.formulario-empreedimento{
    margin: 20px;
    border: 2px solid;
    display: grid;
    padding: 20px;
}


.primeiros-inputs{
    padding: 20px;
}

.primeiros-inputs input{
    width: 450px;
    height: 30px;
    
}



.segunda-part{
    padding: 20px;
}

.segunda-part input{
    height: 30px;
}

#telefone, #whats{
    width: 130px;
}


#nscricaoMu{
    width: 100px;
}

#cnpj{
    width: 120px;
}

#inscricaoEs{
    width: 60px;
}


.terceira-part{
    padding: 20px;
}

.terceira-part input{
    height: 30px;
}

.ultima-part{
    margin-top: 20px;
    padding: 20px;
    
}
.ultima-part select{
    height: 30px;
}



.buttonCadas{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.buttonCadas button{
    width: 400px;
    height: 40px;
    background-color: #0095bf;
    color: white;
    border: none;
    font-weight: 600;

    border-radius: 10px;
}