.container h1{
    text-align: center;
    /* margin-top: 20px; */
}

.container{
    padding: 16px;
}

.formulario-pessoas{
    border: 1px solid black;
    padding: 16px;
    margin: 16px;
}


.block, .block2, .block3{
    display: flex;
    padding: 20px;
}
.block section{
    display: flex;
    flex-direction: column;
}
.block input{
    height: 30px;
    width: 400px;
}
.block select{
    height: 30px;
    width: 100px;
    margin: 6px;
}

#email{
    width: 200px;
}

#cpf{
    width: 150px;
    margin-left: 20px;
}

#labelCPF{
    margin-left: 20px;
}

#rg{
    width: 150px;
}


.block2{
    display: flex;
    gap: 24px;
}
.block2 section{
    display: flex;
    flex-direction: column;
}
.block2 input{
    height: 30px;
    width: 400px;
}
.block2 select{
    height: 30px;
    width: 100px;
    margin: 6px;
}


#escolaridade{
    width: 200px;
}

#renda{
    width: 200px;
}

.block3{
    display: flex;
}
.block3 section{
    display: flex;
    flex-direction: column;
}
.block3 input{
    height: 30px;
    width: 400px;
}
.block3 select{
    height: 30px;
    width: 100px;
    margin: 6px;
}

#telefone{
    width: 150px;
}