/*INÃCIO > ESTILO*/
.imageConstru{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageConstru img{
  position: relative;
  width: 500px;
  left: 0px;
}