/*.subContainer {
  display: flex;
  flex-direction: column;
  border: #0095ba solid 2px;
  border-radius: 10px;
  width: 30%;
}
.subContainer section {
  display: flex;
  flex-direction: column;
}*/
.subContainer img {
  height: 30px;
}