body{
  font-family: Arial, Helvetica, sans-serif;
  
}

.container2{
  display: flex;
  align-items: center;
  justify-content: center;
}
#ptAtendimento{

  margin-top: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.dadosProtocolo{
  border: 1px solid black;
  display: flex;

  margin: 24px;
  
  
}

.dadosProtocolo form{
  padding: 24px;
  
}

label{
  margin-top: 16px;
}


.dadosProtocolo section{
  display: flex;
  flex-direction: column;
  
}

