/*CABEÇALHO > ESTILO*/
header{
    background-color: #0095ba;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}

a {
    color: #ffffff;
}

.active{
    font-weight: bolder;
    color: #000000;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

li {   
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 100%;
}

li:not(.logoEM):hover{
    font-weight: bolder;
    color: #fdd000;
}

.dropdown-lista {
    display: none;
    position: absolute;
    align-items: left;
    justify-content: center;
    background-color: #0095ba;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
}
.dropdown:hover .dropdown-lista {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
    padding: 20px;
    font-size: 12pt;
}

.dropdown-item:hover {
    font-weight: bolder;
    color: #fdd000;
}

#logoEM {
    height: 40px;
    transition:  0.1s;
}

#logoEM:hover {
    transform: scale(1.1);
}