/*CABEÇALHO > ESTILO*/
header{
    background-color: #0095ba;
    box-shadow: #5d5d5d 0px 1px 10px 1px;
    /*border-bottom: #006882 15px solid;*/
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

a {
    color: #ffffff;
}

.active{
    font-weight: bolder;
    color: #000000;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

li {
    display: flex; 
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    height: 100%;
    font-weight: lighter;
}
li img:not(.logoEM) {
    height: 30px;
}

li:not(.logoEM):hover{
    color: #a5edff;
}

#logoEM {
    height: 40px;
    transition:  0.03s;
}

#logoEM:hover {
    transform: scale(1.1);
}