header{
    background-color: #0095ba;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

a{
    color: #ffffff;

}

.active{
    color: black;
}

header ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    font-weight: 600;
}

li {   
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.1s;
}
li:hover {
    color: rgb(221, 221, 221);
}

#logoEM {
    height: 40px;
    transition:  0.1s;
}

#logoEM:hover {
    transform: scale(1.05);
}