header{
    background-color: #0095bf;
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: white;
}

.active{
    color: black;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;


    font-weight: 700;
    color: white;
}

img{
    width: 100px;
   
    position: absolute;
    left: 50px;
}