/*PESSOAS > LISTAGEM > ESTILO*/
.opcoes-filtro {
  position: relative;
  display: none;
}
.btn-filtrar:hover .opcoes-filtro{
  display: flex; z-index: 1;
  width: 200px;
}
.pessoa-bloco1 {
  display: flex;
  flex-direction: row;
}
.barra-pesquisa {
  width: 100%;
}
.pessoa-bloco2 {
  display: flex; flex-direction: row;
  width: 100%;
  justify-content: center;
}

#btPessoas{
  cursor: pointer;
}

#email{
  width: 200px;
}

#cpf{
  width: 150px;
  margin-left: 20px;
}

#rg{
  width: 150px;
}

#escolaridade{
  width: 200px;
}

#renda{
  width: 200px;
}

#telefone{
  width: 150px;
}

#btPessoas{
  cursor: pointer;
}

.containerPessoas h1{
  text-align: center;
  margin-top: 30px;
}