PESSOAS > CADASTRO > ESTILO
.secao-lista {
    background-color: #ffffff;
}

#email{
    width: 200px;
}

#cpf{
    width: 150px;
    margin-left: 20px;
}

#rg{
    width: 150px;
}

#escolaridade{
    width: 200px;
}

#renda{
    width: 200px;
}

#telefone{
    width: 150px;
}

#btPessoas{
    cursor: pointer;
}

/* Gerais */

input{
    height: 30px;
}
select{
    width: 180px;
}

.containerCadasPessoas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCadasPessoas h2{
    color: white;
    padding: 8px;
}

.block1{
    display: flex;
    gap: 54px;
    justify-content: center;
    align-items: center;
    margin: 16px;
}
.block1 section{
    display: flex;
    flex-direction: column;
}



.buttonCadas{
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-pessoas h2{
    color: white;
    padding: 3px;
}