/*ESTILO DA PÁGINA PRINCIPAL*/
* {
  /*reset de todas as configurações*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root{
  --container-color: #ffffff;
  --header-color: #0095ba;
}
.switchTheme:root {
  --container-color: #212529;
  --header-color: #899095;
}

a {
  /*todos os links*/
  text-decoration: none;
}
.container {
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  background-color: var(--container-color);
  background-image: url(../src/images/logo-em-fundo.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.secao-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 20px;
}

.secao-titulo button {
  display: flex;
  margin: 0px 20px 0px 20px;
  padding: 10px 20px 10px 20px;
  background-color: var(--header-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bolder;
  align-items: center;
}

.secao-titulo button:hover {background-color: #006882;}

.secao-titulo img#icone-titulo {height: 30px; padding: 0px 20px 0px 20px;}
.secao-titulo img#icone-botao-cad {height: 20px; padding-right: 20px;}
h1 {
  color: #0095ba;
}


.aba {
  /*abas abaixo do menu de topo*/
  display: flex;
  flex-direction: row;
  background-color: #006882;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.aba a {
  /*links das abas*/
  font-size: 12pt;
  padding: 5px;
  margin: 8px;
  font-size: 10pt;
  border: #ffffff solid 1px;
  border-radius: 5px;
  z-index: 1;
}

.aba h1 {
  color: #ffd000;
  background-color: #006882;
  font-weight: lighter;
  font-size: 12pt;
  margin: 2px;
  padding: 2px;
}

.aba a:hover {
  color: #ffd000;
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
}

.secao {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
}

.secao h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0095ba;
}

.secao div {
  width: 100%;
}

.secao td,
th {
  border: #000000 solid 1px;
  margin: 0;
}

.secao#secao-lista {
  float: left;
}

.secao#secao-cadastro {
  float: right;
}