/*ESTILO DA PÁGINA PRINCIPAL*/

*{ /*reset de todas as configurações*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a{ /*todos os links*/
  text-decoration: none;
}
.container {
  background-color: #ffffff;
  border-radius: 20px;
  margin: 20px; padding: 20px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 600px;
}
.secao-titulo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}
.secao-titulo button {
  margin: 0px 20px 0px 20px;
  padding: 10px 20px 10px 20px;
  background-color: #0095ba;
  border: #006882 3px solid;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bolder;
}
.secao-titulo button:hover {
  background-color: #ecd890;
  border-color: #afa06b;
  color: #000000;
}

h1 {
  color: #0095ba;
}

.aba { /*abas abaixo do menu de topo*/
  display: flex;
  flex-direction: row;
  background-color: #006882;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 0px 20px;
}

.aba a { /*links das abas*/
  font-size: 12pt;
  padding: 5px;
  margin: 8px;
  font-size: 10pt;
  border: #ffffff solid 1px;
  border-radius: 5px;
  z-index: 1;
}
.aba h1 {
  color: #ffd000;
  background-color: #006882;
  font-weight: lighter;
  font-size: 12pt;
  margin: 2px; padding: 2px;
}
.aba a:hover {
  color: #ffd000;
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
}

.secao {
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
}
.secao h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0095ba;
}
.secao div {
  width: 100%;
}
.secao td, th {
  border: #000000 solid 1px;
  margin: 0;
}
.secao#secao-lista {
  float: left;
}
.secao#secao-cadastro {
  float: right;
}